<mat-dialog-content align="center">
    <h2>{{message}}</h2>
    </mat-dialog-content>
    
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="onConfirmClick()">Yes</button>
        <button mat-raised-button color="accent" mat-dialog-close>No</button>
    </mat-dialog-actions>