.add-blog-container {
  width: 30%;
  height: 100%;
  display: flex;
}

.add-blog-main-form {
  grid-area: main-form;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.add-blog-input-title {
  width: 100%;
  height: auto;
}

.add-blog-input-title mat-form-field {
  width: 520%;
  font-size: 1.5em;
}

.add-blog-additional-form {
  grid-area: additional-form;
  padding: 10px 20px;
  background-color: #f5f5f5;
  margin-left: 210%;
}

.title {
  width: 500%;
}

.add-blog-input-content {
  width: 520%;
}

.add-blog-additional-feature-image h3, .add-blog-additional-tags h3 {
  font-size: 1.5em;
  font-weight: 500;
}

.add-blog-additional-feature-image button {
  font-weight: lighter;
}

.preview-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-blog-additional-actions {
  margin-top: 10px;
}

.add-blog-additional-actions button {
  margin-left: 10px;
}

#create-action {
  background-color: #2979ff;
  color: #f5f5f5;
}

.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: transparent;
}
