.global{
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    width: 100%;
    ul{
        line-height: 2;
        display: flex;
        h1{
            color: white;
            line-height: 3;
            cursor: pointer;
        }
        li{
            list-style: none;
            color: white;
             line-height: 4;
            a{
                color: white;
                margin-left: 100px;
                text-decoration: none;
                font-size: 20px;
               
            }
        }
    }
}