.global {
  background-color: black;
  height: 70px;
  position: fixed;
  width: 100%;
}

.global ul {
  line-height: 2;
  display: flex;
}

.global ul h1 {
  color: white;
  line-height: 3;
  cursor: pointer;
}

.global ul li {
  list-style: none;
  color: white;
  line-height: 4;
}

.global ul li a {
  color: white;
  margin-left: 100px;
  text-decoration: none;
  font-size: 20px;
}
