<nav>
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">
        <img class="circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
          alt="{{user.displayName}}">
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">

          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
      </div>
    </main>
  </div>
</div>

<div class="wrapper">
  <div class="nav-container">
    <div class="nav-container-heading">
      <h2>Dashboard</h2>
    </div>
    <div class="nav-container-links">
      <button mat-raised-button  routerLink='/dashboard/add-blog'>
        
        <mat-icon>add</mat-icon>Add Blog
      </button>
      <button mat-raised-button  routerLink='/dashboard/all-blogs'>
        <mat-icon>archive</mat-icon>All Blogs
      </button>
      <button mat-raised-button id="signout-button" (click)="open_dialog('Are you sure you want to sign out?')">Sign
        Out</button>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>