.displayTable {
    background-color: rgba(206, 199, 199, 0.699);
    height          : 100vh;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;

    .displayTableCell {
        width           : 400px;
        height          : 600px;
        background-color: rgba(245, 245, 245, 0.616);
        border-radius   : 15px;
        box-shadow      : rgba(0, 0, 0, 0.664) .55em .55em 1em;
    }

    .authBlock {
        display   : grid;
        text-align: center;
        padding   : 10px;

        .forgotPassword {
            color: rgba(0, 0, 255, 0.76);
        }

        h3 {
            margin-top: 20px;
            color     : rgba(0, 0, 255, 0.76);
        }

        input,
        button {
            padding: 5px;

            margin: 20px 0px 20px 0px;
        }

        button {
            color: rgba(0, 0, 255, 0.76);
        }

    }

    .redirectToLogin {
        text-align: center;
        margin-top: 40px;

        .redirect {
            color: rgba(0, 0, 255, 0.76);
        }
    }
}

// end of the sign-in section
// end of the sign-in section
// end of the sign-in section
// end of the sign-in section