.all-blogs-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

.blog-container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.blog-container-image {
  width: 100%;
  height: 250px;
}

.blog-container-image img {
  width: 100%;
  height: 100%;
}

.blog-container-details {
  padding-left: 10px;
  height: auto;
  margin-bottom: 10px;
}

.blog-container-details h3 {
  font-size: 1.7em;
  font-weight: 500;
}

.blog-container-actions {
  display: flex;
  justify-content: space-evenly;
}

.blog-container-actions button {
  color: white;
  padding: 2px 15px;
}

#edit-action {
  background-color: #ffb300;
}

#delete-action {
  background-color: #b71c1c;
}

.progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: transparent;
}
