<div class="all-blogs-container">
    <div class="blog-container" *ngFor="let blog of blogs">
        <div class="blog-container-image">
            <img [src]="blog.feature_image" alt="Cover-image">
        </div>
        <div class="blog-container-details">
            <h3>{{blog.title}}</h3>
        </div>
        <div class="blog-container-actions">    
            <button mat-raised-button id="edit-action" [routerLink]="['/dashboard/update-blog', blog.id]" >Edit</button>
            <button mat-raised-button id="delete-action" (click)="open_dialog('Are you sure you want to delete this blog?', blog.id)">Delete</button>
        </div>
    </div>
</div>
<mat-progress-spinner class="progress-spinner" mode="indeterminate" *ngIf="show_spinner"></mat-progress-spinner>
