.displayTable {
    background-color: rgba(236, 236, 236, 0.699);
    height          : 100vh;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;

    .displayTableCell {
        width           : 550px;
        height          : 500px;
        background-color: rgb(255, 255, 255);
        // border-radius   : 15px;
        // box-shadow      : rgba(0, 0, 0, 0.664) .55em .55em 1em;
    }

    .authBlock {
        display   : grid;
        text-align: center;
        padding   : 10px;

        .forgotPassword {
            color: rgba(0, 0, 255, 0.76);
            cursor: pointer;
        }

        h3 {
            margin-top: 10px;
            color     : rgba(0, 0, 255, 0.76);
            cursor: pointer;
        }

        input,
        button {
            // padding: 5px;
            background-color: white;
            margin: 10px 0px 20px 0px;
        }
        .formControl{
            padding: 15px;
             width: 100%;
            border: none;
            border-bottom: 1px solid rgb(184, 184, 184);
            background-color: white;
            outline: none;
        }

        button {
            color: rgba(0, 0, 255, 0.76);
            cursor: pointer;
        }

    }

    .redirectToLogin {
        text-align: center;
        margin-top: 20px;

        .redirect {
            color: rgba(0, 0, 255, 0.76);
            cursor: pointer;
        }
    }
}

// end of the sign-in section
// end of the sign-in section
// end of the sign-in section
// end of the sign-in section