.displayTable {
  background-color: rgba(236, 236, 236, 0.699);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayTable .displayTableCell {
  width: 550px;
  height: 500px;
  background-color: white;
}

.displayTable .authBlock {
  display: grid;
  text-align: center;
  padding: 10px;
}

.displayTable .authBlock .forgotPassword {
  color: rgba(0, 0, 255, 0.76);
  cursor: pointer;
}

.displayTable .authBlock h3 {
  margin-top: 10px;
  color: rgba(0, 0, 255, 0.76);
  cursor: pointer;
}

.displayTable .authBlock input,
.displayTable .authBlock button {
  background-color: white;
  margin: 10px 0px 20px 0px;
}

.displayTable .authBlock .formControl {
  padding: 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  background-color: white;
  outline: none;
}

.displayTable .authBlock button {
  color: rgba(0, 0, 255, 0.76);
  cursor: pointer;
}

.displayTable .redirectToLogin {
  text-align: center;
  margin-top: 20px;
}

.displayTable .redirectToLogin .redirect {
  color: rgba(0, 0, 255, 0.76);
  cursor: pointer;
}
