/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
