
<div class="blog-details-container">
    <div class="blog-details-image">
        <img [src]="blog_props.feature_image" alt="cover_image">
    </div>
    <div class="blog-details-title-date">
        <h3 id="title">{{blog_props.title}}</h3> <h4 id="date">{{blog_props.created_at | date}}</h4>
    </div>
    <div class="blog-details-content">
        <p [innerHTML]="blog_props.content"></p>
    </div>
</div>