.front {
  height: 500px;
  width: 96%;
  margin: 70px auto 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-wrapper {
  width: 100%;
  height: auto;
  padding-top: 10px;
  background-color: #ffffff;
  display: flex;
}

.homepage-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-evenly;
}

.blog-card {
  max-width: 400px;
  margin-bottom: 20px;
  height: auto;
}

.blog-card img {
  cursor: pointer;
}

mat-card-title {
  cursor: pointer;
}

.admin {
  background-color: #eff4f8;
  width: 20%;
  height: 100vh;
  text-align: center;
}

.admin img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
